################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodeAssesmentDates/obj
/TDD.BusinessDaysCounter/bin/Debug/netcoreapp3.1
/TDD.BusinessDaysCounter/obj
/BusinessDaysCounter/obj
/BusinessDaysCounter/bin/Debug/netcoreapp3.1
